<html>
    <head>
        <title>Car parking assist</title>
        <style>
                body {background-color: rgb(163, 163, 163);}
                span.alle   {color: rgb(255, 251, 0);}
                span.place    {color: red;}
                canvas { border: 1px solid white; height: 412; width: 640; }
        </style>
    </head>
    <body>
            {% for alle in parking %}
                
                    <h1>Le nombre de place disponible dans l'<span class="alle"  >allé {{ alle.id }}</span> est : <span class="place", id="place{{ alle.id }}">{{ alle.place }} places</span>.</h1>
                    <img id="parking{{ alle.id }}" src="{{url_for('static', filename='parking-000.png')}}" alt="parking background image">
            {% endfor %}
        
        
            

        
        
        

        <script>

           window.onload = (function(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                decode_parking_status(JSON.parse(this.responseText));
                }
                };
            xhttp.open("GET", "get_update", true);
            xhttp.send();

            setTimeout(arguments.callee, 1000);
            })();

            function decode_parking_status(parking_status){
                
                for (let k = 0; k < parking_status.length; k++) {
                    const element = parking_status[k];
                    if (element["place"] > 1){
                        document.getElementById("place"+(k+1)).innerHTML = convert_to_place(element["stat"])+" places";
                    }else{
                        document.getElementById("place"+(k+1)).innerHTML = convert_to_place(element["stat"])+" place";
                    }
                    update_image(k+1, element["stat"]);
                }
                
            }
            function update_image(k, alle_stat){

                document.getElementById('parking'+k).src = "static/parking-"+alle_stat+".png";

            }
            
            function convert_to_place(alle_stat){
                var place = 3;
                for (let k = 0; k < alle_stat.length; k++) {
                    place -= parseInt(alle_stat.slice(k,k+1));
                }
                return place;
            }
            
        </script>
    </body>
</html>